{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
<form action="/test" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="text" placeholder="Type in your text" type="text">
    </div>
    <select name="guess">
        <option disabled selected>Guess option</option>
        {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% if respond == True %}
<p>Your chosen text is: <i>{{text}}</i></p>
<p>Your guess is <b style="color:blue;">Correct!</b></p>
<p><b>Guess:</b> {{ guess }}</p>
<p><b>Prediction:</b> {{result['label']}}</p>
<p><b>Score:</b> {{score}}</p>
<p><i>(probability predicted by model)</i></p>
<table class="table table-triped">
    <thead>
        <tr>
            <th class="text-start">Top words ({{result['label']}})</th>
            <th class="text-end">Scores</th>
        </tr>
    </thead>
    <tbody>
        {% for word in storage %}
            <tr>
                <td class="text-start">{{ word }}</td>
                <td class="text-end">{{ storage[word] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% elif respond == False %}
<p>Your chosen text is: <i>{{text}}</i></p>
<p>Your guess is <b style="color:red;">Wrong!</b></p>
<p><b>Guess:</b> {{ guess }}</p>
<p><b>Prediction:</b> {{result['label']}}</p>
<p><b>Score:</b> {{score}}</p>
<p><i>(probability predicted by model)</i></p>
<table class="table table-triped">
    <thead>
        <tr>
            <th class="text-start">Top words ({{result['label']}})</th>
            <th class="text-end">Scores</th>
        </tr>
    </thead>
    <tbody>
        {% for word in storage %}
            <tr>
                <td class="text-start">{{ word }}</td>
                <td class="text-end">{{ storage[word] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}